.logIn-main {
  padding: 100px;
  text-align: center;
}

.logIn-h1 {
  font-size: 250%;
}

.logIn-input-section {
  margin-bottom: 30px;
}

.logIn-input {
  color: #EEEEEE;
  font-size: 100%;
  padding: 10px;
  width: 50%;
  max-width: 500px;
  margin: 0 0 5% 1%;
  border: 0;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0 0 5px 0;
  background-color: inherit;
}

.logIn-input:focus {
  outline: none;
  color: #EEEEEE;
  text-decoration: none;
}

.logIn-input:-webkit-autofill,
.logIn-input:-webkit-autofill:hover, 
.logIn-input:-webkit-autofill:focus, 
.logIn-input:-webkit-autofill:active{
  -webkit-text-size-adjust: 90%;
  -webkit-text-fill-color: #EEEEEE !important;
  -webkit-box-shadow: 0 0 0 30px #222831 inset !important;
}

.password-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0;
}

.password-visibility {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  padding: 1em;
  margin-bottom: 5px;
  background-image: url("https://img.icons8.com/color/40/000000/invisible.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: calc(0.8);
}

.password-visibility:checked {
  background-image: url("https://img.icons8.com/color/48/000000/visible--v1.png");
  background-size: 70%;
  cursor: pointer;
}

.logIn_button-section {
  /* width: 100%; */
}

.logIn_button {
  color: white;
  font-size: 120%;
  padding: 15px 20px;
  margin: 30px 15px;
  background-color: #00ADB5;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.logIn_button:disabled {
  color: rgb(204, 204, 204);
  cursor: not-allowed;
}

