.signIn-main {
  padding: 100px;
  text-align: center;
}

.signIn-h1 {
  font-size: 250%;
}

.signIn-input-section {
  margin-bottom: 30px;
}

.signIn-input {
  color: #EEEEEE;
  font-size: 100%;
  padding: 10px;
  width: 50%;
  max-width: 500px;
  margin: 0 0 5% 1%;
  border: 0;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0 0 5px 0;
  background-color: inherit;
}

.signIn-input:-webkit-autofill,
.signIn-input:-webkit-autofill:hover, 
.signIn-input:-webkit-autofill:focus, 
.signIn-input:-webkit-autofill:active{
  -webkit-text-size-adjust: 90%;
  -webkit-text-fill-color: #EEEEEE !important;
  -webkit-box-shadow: 0 0 0 30px #222831 inset !important;
}

.signIn-input:focus {
  outline: none;
  color: #EEEEEE;
  text-decoration: none;
}

.signIn_button {
  height: 50px;
}
